<div class="row">
  <label for="lastname">Efternamn</label>
  {{input name="lastname" id="lastname" value=model.lastname class="form-control"}}
</div>
<div class="row">
  <label for="firstname">Förnamn</label>
  {{input name="firstname" id="firstname" class="form-control"}}
</div>
<div class="row">
  <label for="adress1">Bostadsadress</label>
  {{textarea name="adress1" id="adress1" class="form-control"}}
</div>

<div class="row">
  <label for="phone">Telefonnummer</label>
  {{input name="phone" id="phone" class="form-control"}}
</div>
<div class="row">
  <label for="personnummer">Personnummer</label>
  {{input name="personnummer" id="personnummer" class="form-control"}}
  <p>Skrivs in utan mellanslag eller bindestreck med 10 siffror alt. annan registreringskod vid GU</p>
</div>
<div class="row">
  <label for="zipcode1">Postnummer</label>
  {{input name="zipcode1" id="zipcode1" class="form-control"}}
</div>
<div class="row">
  <label for="ort1">Ort</label>
  {{input name="ort1" id="ort1" class="form-control"}}
</div>
<div class="row">
  <select>
  {{#each methods as |m|}}
    <option value="{{m.value}}">{{m.method}}</option>
  {{/each}}
  </select>
</div>
<div class="row">
  <label for="email2">Email</label>
  {{input name="email2" id="email2" class="form-control"}}
</div>
<div class="row">
  <label for="phone2">Email</label>
  {{input name="phone2" id="phone2" class="form-control"}}
</div>
<div class="row">
  {{input type="radio" name="radio" id="choice1"}}
  <label for="choice1">Svenska</label>
  {{input type="radio" name="radio" id="choice2"}}
  <label for="choice2">Engelska</label>
</div>
<div class="row">
   <select name="16">
     <option value="">Välj/Choose ...</option>
     <option value="SE">Student - Handelshögskolan</option>
     <option value="SH">Student - humaniora</option>
     <option value="SA">   Student - Scen och musik (HSM)</option>
     <option value="SI">Student - IT-universitetet</option>
     <option value="SK">   Student - konst</option>
     <option value="SL">   Student - Pedagogen</option>
     <option value="SM">Student - Sahlgrenska akademin</option>
     <option value="SN">   Student - naturvetenskap</option>
     <option value="SR">Student - annan högskola</option>
     <option value="SS">   Student - samhällsvetenskap</option>
     <option value="SU">Student - utländsk</option>
     <option value="FE">   Forskare - Handelshögskolan</option>
     <option value="FH">Forskare - humaniora</option>
     <option value="FA">   Forskare - Scen och musik (HSM)</option>
     <option value="FI">Forskare - IT-universitetet</option>
     <option value="FK">   Forskare - konst</option>
     <option value="FL">Forskare - Pedagogen</option>
     <option value="FM">   Forskare - medicin</option>
     <option value="FN">Forskare - naturvetenskap</option>
     <option value="FR">   Forskare - annan högskola än GU</option>
     <option value="FS">Forskare - samhällsvetenskap</option>
     <option value="FT">   Forskare - odontologi</option>
     <option value="FV">Forskare - vårdvetenskap</option>
     <option value="FX">   Forskare - utländsk gästforskare</option>
     <option value="GU">Personal - GU</option>
     <option value="EX">   Externa låntagare bosatta i Sverige</option>
     <option value="UX">Externa låntagare bosatta i utlandet</option>
    </select>
</div>
<div class="row">
  <label for="notes">Anmärkningar</label>
  {{textarea name="notes" id="notes" class="form-control"}}
</div>
<div class="row">
  {{input type="checkbox" id="agree" name="agree"}}
  <label for="agree">Biblioteksregler accepteras</label>
</div>
<button type="submit" disabled={{validateForm}}>Submit</button>
<button type="button">Cancel</button>



