<div class="row">
<h1>{{t 'patron.header'}}</h1>
<p class="col-xs-12 col-sm-8">{{t 'patron.sub_header'}}</p>
</div>
{{#if errors}}
<div class="row">
  <div class="col-xs-12 col-sm-10">
    <div class="alert alert-danger" role="alert">
        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{t 'patron.form_error_header'}} </p>
    </div>
  </div>
</div>
{{/if}}
<form id="patron-registration-form">

    <div class="row">
    <label class="col-md-12" for="personalnumber">{{t 'patron.personalnumber'}} </label>
    <span class="help-block col-md-12">{{t 'patron.personalnumber_help_block'}}</span>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'personalnumber'}}">

        <span class="text-danger error-msg {{has-error errors.errors 'personalnumber'}}">{{t (get-error-msg errors.errors 'personalnumber')}}</span>
        {{input name="personalnumber" id="personalnumber" autofocus="true" value=model.patron.personalnumber class="form-control"}}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'firstname'}}">
        <label for="firstname">{{t 'patron.firstname'}} </label>
        <span class="text-danger error-msg {{has-error errors.errors 'firstname'}}">{{t (get-error-msg errors.errors 'firstname')}}</span>
        {{input name="firstname" id="firstname" value=model.patron.firstname class="form-control"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'surname'}}">
        <label for="surname">{{t 'patron.surname'}} </label>
        <span class="text-danger error-msg {{has-error errors.errors 'surname'}}">{{t (get-error-msg errors.errors 'surname')}}</span>
        {{input name="surname" id="surname" value=model.patron.surname class="form-control"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'categorycode'}}">
        <label for="message_pref">{{t 'patron.category'}}</label>
        <span class="text-danger error-msg {{has-error errors.errors 'categorycode'}}">{{t (get-error-msg errors.errors 'categorycode')}}</span>
        {{#x-select class="form-control" value="0" action=(action "selectCategoryCode") as |xs|}}
            {{#each model.categoryCodes as |pref|}}
              {{#xs.option value=pref.id}}{{pref.label}}{{/xs.option}}
            {{/each}}
        {{/x-select}}
      </div>
    </div>
  </div>
  <hr>
  <h2>{{t 'patron.address1_header'}}</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'address'}}">
        <label for="address">{{t 'patron.address'}}</label>
        <span class="text-danger error-msg {{has-error errors.errors 'address'}}">{{t (get-error-msg errors.errors 'address')}}</span>
        {{input name="address" id="address" value=model.patron.address class="form-control"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'zipcode'}}">
        <label for="zipcode">{{t 'patron.zipcode'}}</label>
        <span class="text-danger error-msg {{has-error errors.errors 'zipcode'}}">{{t (get-error-msg errors.errors 'zipcode')}}</span>
        {{input name="zipcode" id="zipcode" value=model.patron.zipcode class="form-control"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'city'}}">
        <label for="city">{{t 'patron.city'}}</label>
        <span class="text-danger error-msg {{has-error errors.errors 'city'}}">{{t (get-error-msg errors.errors 'city')}}</span>
        {{input name="city" id="city" value=model.patron.city class="form-control"}}
      </div>
    </div>
  </div>
  <hr>
  <h2>{{t 'patron.message_header'}}</h2>
  <div class="row">
    <label class="col-md-12" for="message_pref">{{t 'patron.message_pref'}}</label>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        {{#x-select class="form-control" value="0" action=(action "selectMessagePref") as |xs|}}
            {{#each model.messagePref as |pref|}}
              {{#xs.option value=pref.id}}{{pref.label}}{{/xs.option}}
            {{/each}}
        {{/x-select}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'email'}}">
        <label for="email">{{t 'patron.email'}} {{#unless email_required}}<span class="optinally-text">({{t 'patron.optionally'}})</span>{{/unless}}</label>
        <span class="text-danger error-msg {{has-error errors.errors 'email'}}">{{t (get-error-msg errors.errors 'email')}}</span>
        {{input name="email" id="email" value=model.patron.email class="form-control"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group {{has-error errors.errors 'smsalertnumber'}}">
        <label for="smsalertnumber">{{#if mobile_required}} {{t 'patron.smsalertnumber'}} {{else}} {{t 'patron.phonenumber'}} {{/if}}{{#unless mobile_required}}<span class="optinally-text">({{t 'patron.optionally'}})</span>{{/unless}}</label>
         <span class="help-block">{{t 'patron.phone_help_block'}}</span>
        <span class="text-danger error-msg {{has-error errors.errors 'smsalertnumber'}}">{{t (get-error-msg errors.errors 'smsalertnumber')}}</span>
        {{input name="smsalertnumber" id="smsalertnumber" value=model.patron.smsalertnumber class="form-control"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for="language_pref">{{t 'patron.lang'}}</label>
        {{#x-select class="form-control" value=i18n.locale action=(action "selectLang") as |xs|}}
          {{#each communication_lang as |lang|}}
          {{#xs.option value=lang }}{{t (concat 'patron.' lang)}}{{/xs.option}}
          {{/each}}
        {{/x-select}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="{{has-error errors.errors 'accept_text'}}">
        <div class="checkbox">
          {{input type="checkbox" name="accept_text" checked=terms_accepted}}
          <span class="text-danger error-msg {{has-error errors.errors 'accept_text'}}">{{t (get-error-msg errors.errors 'accept_text')}}</span>
          <span class="help-block">{{t 'patron.accept_text_help_block'}}</span>
          <span class="help-block">{{t 'patron.pul_link'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <button type="submit" {{action 'submit'}} class="btn btn-primary btn-submit">{{t 'patron.submit'}}</button>
    </div>
  </div>
</form>


